// TODO: Fix relative path for styles in tsconfig
@import "../../../../styles/variables";

.container {
  text-align: center;
  height: 100%;

  .empty-state-message {
    padding: 5rem;
    font-size: $fz-heading;
  }
}