.error {
  position: absolute;
  font-size: 12px;
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(50%);
}