<header role="banner">
  <mat-toolbar class="header">
    <div class="content">
      <mat-form-field appearance="fill" class="search-input">
        <mat-label>Search</mat-label>
        <input
          [disabled]="!isSearchEnabled"
          matInput
          type="search"
          [(ngModel)]="searchValue"
          (ngModelChange)="searchUsers()"
        />
      </mat-form-field>

      <div class="buttons-container">
        <button
          mat-raised-button
          [disabled]="!isCreateEnabled"
          color="primary"
          class="create-button"
          (click)="createUser()"
        >
          Create
        </button>
        <button
          [disabled]="!isSaveEnabled"
          mat-raised-button
          color="accent"
          class="save-button"
          (click)="saveUser()"
        >
          Save
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
