<header role="banner">
  <mat-toolbar class="header">
    <div class="content">
      <mat-form-field appearance="fill" class="search-input">
        <mat-label>Search</mat-label>
        <input
          [disabled]="!isDashboard"
          matInput
          type="search"
          [(ngModel)]="searchValue"
          (ngModelChange)="searchUsers()"
        />
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          *ngIf="searchValue"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <div class="buttons-container">
        <button
          mat-raised-button
          [disabled]="!isDashboard"
          color="primary"
          class="create-button"
          (click)="createUser()"
        >
          Create
        </button>
        <button
          [disabled]="!isUserDetail"
          mat-raised-button
          color="accent"
          class="save-button"
        >
          Save
        </button>
      </div>
    </div>
  </mat-toolbar>
</header>
