@import "../../../../../styles/variables";

.grid-container {
  max-width: $max-width;
  width: 100%;
  margin: 6rem auto;

  app-user-card {
    height: 100% !important;
    width: 100%;
    padding: 0.5rem;
  }
}