<mat-card
  class="user-card"
  matTooltip="Click to edit"
  (click)="navigateToEditPage()"
>
  <div class="avatar-container">
    <img
      [src]="user.avatar"
      alt="{{ user.firstName }} {{ user.lastName }} - Avatar"
      class="avatar"
      loading="lazy"
    />
  </div>
  <mat-card-content>
    <div class="name">{{ user.firstName }} {{ user.lastName }}</div>
    <div>
      <span class="label">Email: </span>
      <p>{{ user.email }}</p>
    </div>

    <div>
      <span class="label">Address: </span>
      <p>
        {{ user.street }}, <br />
        {{ user.city }}, {{ user.country }}.
      </p>
    </div>
    <div>
      <span class="label"> Zip Code: </span>
      <p>{{ user.zipCode }}</p>
    </div>
  </mat-card-content>
</mat-card>
