@import "./styles/_variables";

/* Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-color;
}

p {
  color: $secondary-color;
}

/* Reset default paddings and margins */
* {
  margin: 0;
  padding: 0;
}

/* Apply border box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family;
}